.ItemCounter{
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    .counter__btn{
        &--cart{
            padding: .1em .3em;
            border-style: none;
        }
    }
    .counter__results{
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
}


