.addAndUpdateProducts {
    .addAndUpdateProducts-1 {
        .addAndUpdateProducts-2 {
            h1 {
                text-align: center;
            }
            text-align: center;
            gap: 10px;
            margin-top: 20px;
        }
    }
}

.formAddUpdate {
    div {
        input {
            border-radius: 10px;
        }
    }
}