.addAndUpdateProducts {
    .addAndUpdateProducts-1 {
        gap: 40px;
        .addAndUpdateProducts-2 {
            h1 {
                text-align: center;
            }
            text-align: center;
            gap: 10px;
            margin-top: 20px;
        }
    }
}

.formAddUpdate {
    .boxAdd {
        display: flex;
        flex-direction: column;
        input {
            border-radius: 10px;
        }
    }
    .buttonUpdate {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .buttonAdd {
        margin-top: 48px;
        margin-bottom: 20px;
    }
}