.purchase__container{
    display: flex;
    .checkout {
        min-height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin-top: 80px;
        .contact {
            &__title{
                font-size: 1.5em;
                font-weight: 400;
                text-align: center;
                margin-bottom: 1em;
            }
            &__information {
                padding: 1em;
                width: 800px;
            }
        }
    }
    .summary{
        background-color: #fbfbfb;
        width: 100%; 
        &__title{
            text-align: left;
            font-size: 1.5em;
            font-weight: 400;
            padding-bottom: .5em;
        }
        &__items{
            padding-top: .5em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .purchase__container {
        display: flex;
        flex-direction: column;
    }
}

/////////////////////////////////////////////////////////////////////

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header .breadcrumb a {
    color: #7d7d7d;
}

header .breadcrumb a li {
    float: left;
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
}


header .count {
    float: right;
    color: #333333;
    height: 20px;
    line-height: 20px;
}

/* --- PRODUCT LIST --- */
.products {
    border-top: 1px solid #ddd;
}

.products>li {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.rows {
    position: relative;
    overflow: auto;
    width: 100%;
}

.col,
.quantity,
.remove {
    float: left;
}

.col.left {
    width: 70%;
}

.col.right {
    width: 30%;
    position: absolute;
    right: 0;
    top: calc(50% - 30px);
}

.detaill {
    padding: 0 0.5rem;
    line-height: 2.2rem;
}

.detaill .name {
    font-size: 1.2rem;
}

.detaill .description {
    color: #7d7d7d;
    font-size: 1rem;
}

.detaill .price {
    font-size: 1.5rem;
}

.quantity,
.remove {
    width: 50%;
    text-align: center;
}

.remove svg {
    width: 60px;
    height: 60px;
}

.quantity>input {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    left: calc(50% - 30px);
    background: #fff;
    border: 2px solid #ddd;
    color: #7f7f7f;
    text-align: center;
    font: 600 1.5rem Helvetica, Arial, sans-serif;
}

.quantity>input:hover,
.quantity>input:focus {
    border-color: #f58551;
}

.close {
    fill: #7d7d7d;
    transition: color 150ms linear, background-color 150ms linear,
        fill 150ms linear, 150ms opacity linear;
    cursor: pointer;
}

.close:hover {
    fill: #f58551;
}

/* --- SUMMARY --- */

.purcha {
    padding-bottom: 50px;
}

.promotion,
.summary,
.checkout {
    float: left;
    width: 100%;
    margin-top: 1.5rem;
}


.summary {
    font-size: 1.2rem;
    text-align: right;
}

.summary ul li {
    padding: 0.5rem 0;
}

.summary ul li span {
    display: inline-block;
    width: 30%;
}

.summary ul li.total {
    font-weight: bold;
}

.checkout {
    text-align: right;
}

.checkout>button {
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
    border-radius: 1.5rem;
}

.empty-product {
    text-align: center;
}

.empty-product>button {
    font-size: 1.3rem;
    padding: 10px 30px;
    border-radius: 5px;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
    .thumbnail img {
        display: none;
    }

    .quantity>input {
        width: 40px;
        height: 40px;
        left: calc(50% - 20px);
    }

    .remove svg {
        width: 40px;
        height: 40px;
    }
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
    html {
        font-size: 14px;
    }


    .thumbnail,
    .detaill {
        float: left;
    }

    .thumbnail {
        width: 35%;
    }

    .detaill {
        width: 65%;
    }

    .promotion,
    .summary {
        width: 50%;
    }

    .checkout {
        width: 100%;
    }

    .checkout,
    .summary {
        text-align: right;
    }
}

/* --- LARGE SCREEN --- */
@media all and (min-width: 992px) {
    html {
        font-size: 16px;
    }
}

