.purchase__container{
    display: flex;
    .checkout {
        min-height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        margin-top: 80px;
        .contact {
            &__title{
                font-size: 1.5em;
                font-weight: 400;
                text-align: center;
                margin-bottom: 1em;
            }
            &__information {
                padding: 1em;
                width: 800px;
            }
        }
    }
    .summary{
        background-color: #fbfbfb;
        width: 100%; 
        &__title{
            text-align: left;
            font-size: 1.5em;
            font-weight: 400;
            padding-bottom: .5em;
        }
        &__items{
            padding-top: .5em;
        }
    }
}

@media only screen and (max-width: 800px) {
    .purchase__container {
        display: flex;
        flex-direction: column;
    }
}