.contacto {
    min-height: 60vh;
    background-color: $color-principal1;
    .ubicacion {
        background-color: $color-principal1;
        justify-content: space-around;
        margin-top: 40px;
        gap: 50px;
        div {
            h2 {
                color: $color-principal3;
                padding-bottom: 25px;
            }
        }
        .direccion {
            p {
                color: $color-principal3;
                font-size: 25px;
                margin-bottom: 15px;
            }
        }
        .red-social2 {
            img {
                width: 60px;
                text-decoration: none;
                color: $color-principal3;
                font-size: 25px;
                align-items:center;
                margin: 20px;
                &:hover {
                    color: rgb(177, 111, 54);
                    transition: 0.9s;
                }
            }
        }
    }
    .mensaje {
        form {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-top: 15px;
            background-color: $color-principal3;
            div {
                margin-bottom: 15px;
                width: 80%;
                label {
                    color: $color-prnicipal2;
                    font-size: 20px;
                }
            }
            .boton {
                text-align: center;
                .btn {
                    background-color: $color-principal1;
                        &:hover {
                            color: $color-hover;
                            transition: 0.9s;
                        }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .ubicacion {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width: 768px) {
    .ubicacion {
        text-align: center;
        .ratio {
            margin-top: 20px;
        }
    }
}
