* {
    margin: 0;
    padding: 0;
    list-style: none; 
    font-family:'Barlow Semi Condensed', sans-serif;
}

.inicio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../../fondoRe.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-principal3;
    .header-main {
        min-height: 70vh;
        .titulo {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            text-align: justify;
            letter-spacing: 4px;
            h1 {
                font-size: 50px;
                color: $color-principal3;
                margin-left: 0px;
            }
            h3 {
                color: $color-principal3;
                font-size: 30px;
            }
        }
    }
}

.seccion-nosotros {
    min-height: 35vh;
    background-color: $color-principal1;
    text-align: center;
    justify-content: center;
    border: solid 2px $color-principal1;
    h2 {
        color: $color-principal3;
        font-size: 35px;
        padding-top: 15px;
    }
    p {
        @include medidas-parrafos;
    }
    hr {
        margin-top: 25px;
        color: $color-principal3;
    }
    .imgn {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        img {
            width: 150px;
            margin: 10px 30px 0 30px;
        }
    }
    h4 {
        text-align: right;
        padding: 15px;
        a {
            @include hover;
        }
    }
}

