* {
    margin: 0;
    padding: 0;
    font-family:'Barlow Semi Condensed', sans-serif;
}

.nosotros{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-2 {
    background-color: $color-principal3;
    nav {
        .navbar-nav {
            a {
                @include hover-2;
            }
        }
    }
}

.logo img {
    width: 55px;
}

.p-nosotros {
    background-color: $color-principal1;
    text-align: center;
    min-height: 35vh;
    h2 {
        margin-top: 50px;
        font-size: 40px;
        text-align: center;
        color: $color-principal3;
    }
    p {
        @include medidas-parrafos;
    }
}

.p2-nosotros {
    
    background-color: $color-principal3;
    min-height: 35vh;
    text-align: center;
    justify-content: space-between;
    h2 {
        font-size: 40px;
        text-align: center;
        color: $color-prnicipal2;
        margin-top: 30px;
    }
    p {
        @include medidas-parrafos-2;
    }
    .sec-clients {
        a {
            transition: filter 0.4s;
            &:hover {
                filter: opacity(0.5);
            }
        }
    }
    div {
        a {
            text-decoration: none;
        }
    }
}

.marcas {
    margin-top: 27px;
    min-height: 18vh;
}

@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }

.sliderr {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 1300px;
  }
  .sliderr::before, .sliderr::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .sliderr::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .sliderr::before {
    left: 0;
    top: 0;
  }
  .sliderr .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .sliderr .slide {
    height: 100px;
    width: 250px;
  }

  @media only screen and (max-width: 800px) {
    .nosotros {
      min-height: 60vh;
    }
    .p-nosotros {
      min-height: 20vh;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 12px ;
      }
    }
    .p2-nosotros {
      min-height: 30vh;
      h2 {
        font-size: 15px;
      }
      p {
        font-size: 12px ;
      }
    }

    .sliderr {
      width: 350px;

    }
  }