.cart-widgets {
    margin-left: 35px;
    right: -80px;
    cursor: pointer;
    @include hover-2;
    &__shopping-bag {
        width: 40px;
        position: absolute;
    }
    &__items-counter{
        position: relative;
        font-family: $numbers;
        margin:  11px;
        font-weight: 700;
        background-color: $color-principal1;
        border-radius: 50%;
        font-size: 16px;

        padding: 0 5px;
        text-align: center;
        right: -12px;
        bottom: 0;
    }
}
