.header {
    display: flex;
    justify-content: space-around;
    padding: 1rem;

    &__nav {
        gap: 10px;
        padding: 1rem 0;

        .nav__link {
            background: none;
            border: none;
            color: black;
            text-transform: capitalize;
            text-align: left;
            border-radius: 5px;
            font-size: 18px;
            font-family: $secondary;
            margin: 0 1rem;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease-in;
            @include hover-2;

            &:after {
                position: absolute;
                content: "";
                height: 3px;
                width: 100%;
                top: 100%;
                left: 0;
                background: linear-gradient(to right, #cda47d, #fc7a01, #fc4700);
                transition: transform 0.5s;
                transform: scaleX(0);
                transform-origin: right;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: left;
            }

            &--category {
                margin: 0;
                border-radius: 0;
                padding: 8px 16px;

                &:after {
                    content: "";
                    background: none;
                }
            }

        }

    }
}

.container-fluid {

}

.navCategory {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    @include hover-2;

    .navSubCategory {
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #cda47d, #fc7a01, #fc4700);
            z-index: 1;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.5s ease-in-out;
        }

        &:hover::before {
            transform: scaleX(1);
        }

        font-size: 25px;
    }
}

@media only screen and (max-width: 800px) {
    .widgetsCart {
        margin-left: 200px;
    }
}