
.search {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    div {
        .products__path{
            width: 32vw;
            margin: 1em auto;
            font-family: $numbers;
            font-size: 20px;
        }
    }
    .container-input {
        position: relative;
        .input {
            width: 150px;
            padding: 10px 0px 10px 40px;
            border-radius: 9999px;
            border: solid 1px #333;
            transition: all .2s ease-in-out;
            outline: none;
            opacity: 0.8;
            &:focus {
                opacity: 1;
                width: 250px;
            }
        }
        svg {
            position: absolute;
            top: 35%;
            left: 13px;
            transform: translate(0, -50%);
        }
    }
}

.itemsContainer {
    justify-content: center;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}
.products {
    gap: 1rem;
    display: flex;
    justify-content: center;
}

.paginate {
    display: flex;
    justify-content: center;

}

//card


.card { 
    text-align: center;
        background: #f5f5f5;
        position: relative;
        overflow: visible;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        height: 100%;
        float:left;
        margin-bottom: 10px;
        margin-top: 10px;
        .card-img-top {
            background-color: #ff6600;
            height: 100%;
            border-radius: 10px;
            transition: .3s ease;
            &:hover {
                transform: translateY(-25%);
                box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
            }
        }
        .card-info {
            padding-top: 2%;
            height: 75px;
            h5 {
                
                font-weight: 900;
                font-size: 1em;
                line-height: 1.5;
            }
            p {
                font-size: .9em;
            }
        }
        .card-footer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            border-top: 1px solid #ddd;
            .text-title {
                font-weight: 900;
                font-size: 0.8em;
                line-height: 1.5;
            }
            .productoAgregar {
                border: 1px solid #252525;
                display: flex;
                padding: .3em;
                cursor: pointer;
                border-radius: 50px;
                transition: .3s ease-in-out;
                &:hover {
                    border: 1px solid $color-principal1;
                    background-color: $color-principal1;
                }
                .svg-icon {
                    width: 25px;
                    height: 25px;
                }
            }
        }
        
    }   

//detail

.detail {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}
.detail__card {
    @extend %card__base;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    display: flex;
    flex-direction: row;
    margin: 2rem auto;

    &.card {
        .card__image{
            width: 90% ;
            display: grid;
            place-items: center;
            .image{
                width: 90%;
                height: auto;
            }
        }
        .card__body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 2rem 4.5rem;
            gap: 1.5rem;

            .card__header{
                display: flex;
                flex-direction: column;
                gap: .5rem;
                .card__title {
                    @extend %card__title;
                    font-size: 1.9rem;  
                }
                .card__price {
                    @extend %card__price;
                    font-size: 32px;
                }
            }
            .card__description {
                width: 60%;
                font: {
                    family: $secondary;
                    size: 1.2rem;
                }
            }
            .card__button{
                justify-self: flex-end;
                background: $color-principal1;
                border: none;
                color: white;
                margin-top: 50px;
                padding: 20px 37px;
                cursor: pointer;
                font : {
                    family:$secondary;
                    weight: 600;
                    size: 1rem;
                }
            }
            
        }
        
    }
    @keyframes scale {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }
}

//cart item
.cart__card{
    &.card{
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        .card__desc{
            display: flex;
            flex-direction: column;
            align-items: baseline;
            .card__title{
                width: 180px;
                font: {
                    size: 14px
                };
            }
            .card__category{
                color: black;
                text-transform: capitalize;
                font: {
                    size: 12px
                };
            }
        }
        .card__image{
            .image{
                width: 70px;
            }
        }
        .card__price{
            .price{
                font: {
                    weight: bold;
                    family: $numbers;
                };
            }
        }
        .card__actions{
            position: absolute;
            right: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .delete{
                height: 1.5em;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .detail__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &.card {
            .card__image {
            }
            .card__body {
            }
        }
    }
}

